<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>rooshoes</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>Tumblr No-Break Spaces</string>
	<key>CFBundleIdentifier</key>
	<string>com.rooshoes.tumblr-nobrspaces</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>nobrspaces.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Converts all double-spaces to non-breaking spaces to prevent indenting new lines.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.tumblr.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/jesstech/Tumblr-NoBRSpaces/raw/master/safari/update-manifest.plist</string>
	<key>Website</key>
	<string>http://rooshoes.tumblr.com</string>
</dict>
</plist>
